<!doctype html>
<html class="no-js" lang="en">

<head>

  <!--========= Required meta tags =========-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--====== Title ======-->
  <title>Psycho Aid Help - Site</title>

  <!--====== Favicon ======-->
  <link rel="shortcut icon" href="/static/images/Logo.png" type="images/x-icon"/>

  <!--====== CSS Here ======-->
  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/css/animate.min.css">
  <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/assets/css/lightcase.css">
  <link rel="stylesheet" href="../static/assets/css/meanmenu.css">
  <link rel="stylesheet" href="../static/assets/css/nice-select.css">
  <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../static/assets/css/datepicker.min.css">
  <link rel="stylesheet" href="../static/assets/css/jquery-ui.min.css">
  <link rel="stylesheet" href="../static/assets/css/default.css">
  <link rel="stylesheet" href="../static/assets/css/style.css">
  <link rel="stylesheet" href="../static/assets/css/responsive.css">

</head>

<body>

<!-- preloader  -->
<div id="preloader">
  <div id="ctn-preloader" class="ctn-preloader">
    <div class="animation-preloader">
      <div class="spinner"></div>
      <div class="txt-loading">
                        <span data-text-preloader="D" class="letters-loading">
                            Д
                        </span>
        <span data-text-preloader="O" class="letters-loading">
                            О
                        </span>
        <span data-text-preloader="P" class="letters-loading">
                            П
                        </span>
        <span data-text-preloader="O" class="letters-loading">
                            О
                        </span>
        <span data-text-preloader="M" class="letters-loading">
                            М
                        </span>
        <span data-text-preloader="O" class="letters-loading">
                            О
                        </span>
        <span data-text-preloader="G" class="letters-loading">
                            Г
                        </span>
        <span data-text-preloader="A" class="letters-loading">
                            А
                        </span>
      </div>
    </div>
    <div class="loader">
      <div class="row">
        <div class="col-3 loader-section section-left">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader-section section-left">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader-section section-right">
          <div class="bg"></div>
        </div>
        <div class="col-3 loader-section section-right">
          <div class="bg"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- preloader end -->

<!-- header start -->
<header id="sticky-header" class="site-header">
  <div class="container custom-header">
    <div class="row align-items-center">
      <div class="col-xl-2 col-lg-3">
        <a href="/CivilEducation/index.html" class="site-logo">
          <img class="img-fluid" src="/static/images/Logo.png" alt="Picture" style="max-width: 100px;">
        </a>
        <div class="mobile-menu"></div>
      </div>
      <div class="col-xl-10 col-lg-10 my-auto">
        <div class="mainmenu">
          <nav id="mobile-menu" style="font-size: 18px">
            <ul>
              <li>
                <a href="/CivilEducation/index.html" style="font-size: 20px">Додому +</a>
              </li>
              <li><a href="#" style="font-size: 16px; font-weight: 400">Допомога в Україні +</a>
              </li>
              <li><a href="#" style="font-size: 16px; font-weight: 400">Допомога в Світі +</a>
              </li>
              <li><a href="#" style="font-size: 16px; font-weight: 400">Допомога у Чернігові +</a>
              </li>
              <li><a href="#" style="font-size: 16px; font-weight: 400">Самодопомога +</a>
              </li>
            </ul>
          </nav>
        </div>

      </div>

    </div>
  </div>
</header>

<!-- header end -->

<!-- about area start -->
<section class="about-area pt-160 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-content mt-50">
          <div class="section-heading mb-55">
            <h3 class="sub-title">Про нашу команду</h3>
            <h2 class="section-title">Ми експерти в даній області <br> &amp; Ми гуру в цьому напрямку</h2>
            <p>Наша команда - це професійні, натреновані, з великим досвідом спеціалісти.
              Ми знаємо толк в цьому ділі.</p>
          </div>
          <div class="about-list mt-none-20">
            <div class="single-item d-flex align-items-center mt-20">
              <div class="icon">
                <i class="fal fa-check"></i>
              </div>
              <span>7 Різнх Кваліфіковані фахівців з великим досвідом роботи</span>
            </div>
            <div class="single-item d-flex align-items-center mt-20">
              <div class="icon">
                <i class="fal fa-check"></i>
              </div>
              <span>Швидка допомога &amp; Підтримка</span>
            </div>
            <div class="single-item d-flex align-items-center mt-20">
              <div class="icon">
                <i class="fal fa-check"></i>
              </div>
              <span>Розуміння та емпатія до клієнтів</span>
            </div>
            <div class="single-item d-flex align-items-center mt-20">
              <div class="icon">
                <i class="fal fa-check"></i>
              </div>
              <span>Широкий спектр програм  &amp; ресурсів для психологічної реабілітації</span>
            </div>
            <div class="single-item d-flex align-items-center mt-20">
              <div class="icon">
                <i class="fal fa-check"></i>
              </div>
              <span>Стежеимо за трендами &amp; інноваціями в галузі психологічної реабілітації.</span>
            </div>
            <div class="single-item d-flex align-items-center mt-20">
              <div class="icon">
                <i class="fal fa-check"></i>
              </div>
              <span>Якість нашої роботи підтверджені позитивними відгуками наших клієнтів</span>
            </div>
          </div>
          <div class="about-founder d-flex align-items-center">
            <div class="founder-detals d-flex align-items-center">
              <div class="thumb">
                <i class="fas fa-users-class fa-2x"></i>
              </div>
              <div class="content">
                <h4 class="name">Psychology Aid Team</h4>
                <span class="designation">Founders</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about area end -->


<!-- counter area start -->
<section class="counter-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="counter-area-wrap">
          <div class="counter-wrap">
            <div class="single-counter-box pb-50">
              <div class="icon">
                <img src="assets/images/icons/experience-icon-01.png" alt="">
              </div>
              <div class="content">
                <h2 class="title"><span class="counter">100</span>%</h2>
                <p>Задоволених клієнтів.
                </p>
              </div>
            </div>
            <div class="single-counter-box pb-50">
              <div class="icon">
                <img src="assets/images/icons/experience-icon-01.png" alt="">
              </div>
              <div class="content">
                <h2 class="title"><span class="counter">89</span>%</h2>
                <p>Клієнтів, рекомендують наші послуги своїм друзям та знайомим.
                </p>
              </div>
            </div>
            <div class="single-counter-box pt-60">
              <div class="icon">
                <img src="assets/images/icons/experience-icon-03.png" alt="">
              </div>
              <div class="content">
                <h2 class="title"><span class="counter">100</span>%</h2>
                <p>Якість обслуговування.
                </p>
              </div>
            </div>
            <div class="single-counter-box pt-60">
              <div class="icon">
                <img src="assets/images/icons/experience-icon-04.png" alt="">
              </div>
              <div class="content">
                <h2 class="title"><span class="counter">97</span>%</h2>
                <p>Середня оцінка нашої роботи від клієнтів.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- counter area end -->

<!-- our-expert area start -->
<section class="our-expert-area our-expert-area-2 our-expert-area-3 bg-2 pt-120 pb-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-heading mb-50">
          <h2 class="section-title shape">Гуру-спеціалалісти своєї справи</h2>
          <p>Наша головна мета - допомогти тим, хто стоїть на захисті нашої свободи, нашого життя та миру.</p>
        </div>
      </div>
    </div>
    <div class="row mt-none-30">
      <div class="col-xl-4 col-lg-6 col-sm-12 mt-30">
        <div class="single-carousel-item">
          <div class="thumb">
            <img src="assets/images/team/doctor-02.jpeg" alt="">
            <span class="icon">
                                <img src="assets/images/icons/heart-icon.png" alt="">
                            </span>
          </div>
          <div class="content">
            <h4 class="title">Дар'я Килочицька.</h4>
            <span class="sub-title">Co-Founder</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-sm-12 mt-30">
        <div class="single-carousel-item">
          <div class="thumb">
            <img src="assets/images/team/doctor-01.jpeg" alt="">
            <span class="icon">
                                <img src="assets/images/icons/heart-icon.png" alt="">
                            </span>
          </div>
          <div class="content">
            <h4 class="title">Олена Шинкаренко.</h4>
            <span class="sub-title">Co-Founder</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna.</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-sm-12 mt-30">
        <div class="single-carousel-item">
          <div class="thumb">
            <img src="assets/images/team/doctor-03.jpeg" alt="">
            <span class="icon">
                                <img src="assets/images/icons/heart-icon.png" alt="">
                            </span>
          </div>
          <div class="content">
            <h4 class="title">Купа Аліна.</h4>
            <span class="sub-title">Co-Founder</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-sm-12 mt-30">
        <div class="single-carousel-item">
          <div class="thumb">
            <img src="assets/images/team/doctor-03.jpeg" alt="">
            <span class="icon">
                                <img src="assets/images/icons/heart-icon.png" alt="">
                            </span>
          </div>
          <div class="content">
            <h4 class="title">Семенець Кирило.</h4>
            <span class="sub-title">Co-Founder (Developer)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-sm-12 mt-30">
        <div class="single-carousel-item">
          <div class="thumb">
            <img src="assets/images/team/doctor-03.jpeg" alt="">
            <span class="icon">
                                <img src="assets/images/icons/heart-icon.png" alt="">
                            </span>
          </div>
          <div class="content">
            <h4 class="title">Хромов Олег.</h4>
            <span class="sub-title">Co-Founder</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-sm-12 mt-30">
        <div class="single-carousel-item">
          <div class="thumb">
            <img src="assets/images/team/doctor-03.jpeg" alt="">
            <span class="icon">
                                <img src="assets/images/icons/heart-icon.png" alt="">
                            </span>
          </div>
          <div class="content">
            <h4 class="title">Мамонтов Богдан.</h4>
            <span class="sub-title">Co-Founder (Beck-End (PHP) Dev)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-6 col-sm-12 mt-30">
        <div class="single-carousel-item">
          <div class="thumb">
            <img src="#" alt="">
            <span class="icon">
                                <img src="assets/images/icons/heart-icon.png" alt="">
                            </span>
          </div>
          <div class="content">
            <h4 class="title">Рахманкулов Артур.</h4>
            <span class="sub-title">Co-Founder (Developer)</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          </div>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- our-expert area end -->

<!-- our mission area start -->
<section class="our-mission-area pt-10 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-heading mb-30 mt-75">
          <h4 class="sub-title">Наша міссія &amp; Мета</h4>
        </div>
        <div class="faq-widget">
          <div class="accordion faqs" id="accordionFaq">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0 subtitle">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Наша міссія
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                   data-parent="#accordionFaq">
                <div class="card-body">
                  <div class="thumb">
                    <i class="fal fa-bullseye-pointer fa-3x"></i>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0 subtitle">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo">
                    Наші погляди
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                   data-parent="#accordionFaq">
                <div class="card-body">
                  <div class="thumb">
                    <i class="fal fa-eye fa-3x"></i>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod
                      tempor incididunt ut labore et
                      dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0 subtitle">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseThree" aria-expanded="false"
                          aria-controls="collapseThree">
                    Наша мета
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                   data-parent="#accordionFaq">
                <div class="card-body">
                  <div class="thumb">
                    <i class="fas fa-solid fa-crosshairs fa-3x"></i>
                  </div>
                  <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod
                      tempor incididunt ut labore et
                      dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="our-mission-thumb">
          <div class="mission-thumb-big"  style="margin-top: 120px">
            <img src="../static/images/our_vision.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our mission area end -->

<!-- footer start -->
<footer class="site-footer pt-100 pb-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 pr-50">
        <div class="row">
          <div class="col-6">
            <div class="footer-widget">
              <h4 class="widget-title">Про Нас</h4>
              <p><span class="font-weight-bold">Ми експерти в даній області &amp; Ми гуру в цьому напрямку.</span>
                Наша команда - це професійні, натреновані, з великим досвідом спеціалісти.
                Ми знаємо толк в цьому ділі.</p>

              <div class="row mt-2">
                <div class="icon col">
                  <i class="fas fa-handshake fa-3x"></i>
                </div>
                <div class="content col-10">
                  <p>Отримай безкоштовну допомогу!</p>
                  <a href="tel:987876875865">+00 (123) 345 67 89</a>
                </div>
              </div>

            </div>
          </div>
          <div class="col-6 align-items-center">
            <div class="footer-widget">
              <h4 class="widget-title">Де нас знайти </h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright-text row">
              <p class="col-6">Copyright By@<span>Psychology Aid Team</span> - 2023</p>
              <p class="col-6">Powered By <span>Bogdan &amp; Arthur &amp; Kirill</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->

<!--========= JS Here =========-->
<script src="../static/assets/js/jquery-2.2.4.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/counterup.min.js"></script>
<script src="../static/assets/js/datepicker.min.js"></script>
<script src="../static/assets/js/datepicker.en.js"></script>
<script src="../static/assets/js/jquery-ui.min.js"></script>
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<script src="../static/assets/js/lightcase.js"></script>
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/jquery.meanmenu.min.js"></script>
<script src="../static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="../static/assets/js/isotope.pkgd.min.js"></script>
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/waypoint.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>

</html>