<!doctype html>
<html class="no-js" lang="en">

<head>

    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Psycho Aid Help - Site</title>

    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="resoruces/static/images/Logo.png" type="images/x-icon"/>

    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/lightcase.css">
    <link rel="stylesheet" href="../static/assets/css/meanmenu.css">
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets/css/datepicker.min.css">
    <link rel="stylesheet" href="../static/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../static/assets/css/default.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/responsive.css">

</head>

<body>

<!-- preloader  -->
<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
                        <span data-text-preloader="D" class="letters-loading">
                            Д
                        </span>
                <span data-text-preloader="O" class="letters-loading">
                            О
                        </span>
                <span data-text-preloader="P" class="letters-loading">
                            П
                        </span>
                <span data-text-preloader="O" class="letters-loading">
                            О
                        </span>
                <span data-text-preloader="M" class="letters-loading">
                            М
                        </span>
                <span data-text-preloader="O" class="letters-loading">
                            О
                        </span>
                <span data-text-preloader="G" class="letters-loading">
                            Г
                        </span>
                <span data-text-preloader="A" class="letters-loading">
                            А
                        </span>
            </div>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->

<!-- header start -->
<header id="sticky-header" class="site-header">
    <div class="container custom-header">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-3">
                <a href="/CivilEducation/index.html" class="site-logo">
                    <img class="img-fluid" src="/static/images/Logo.png" alt="Picture" style="max-width: 100px;">
                </a>
                <div class="mobile-menu"></div>
            </div>
            <div class="col-xl-10 col-lg-10 my-auto">
                <div class="mainmenu">
                    <nav id="mobile-menu" style="font-size: 18px">
                        <ul>
                            <li>
                                <a href="/CivilEducation/index.html" style="font-size: 20px">Додому +</a>
                            </li>
                            <li><a href="#" style="font-size: 16px; font-weight: 400">Допомога в Україні +</a>
                            </li>
                            <li><a href="#" style="font-size: 16px; font-weight: 400">Допомога в Світі +</a>
                            </li>
                            <li><a href="#" style="font-size: 16px; font-weight: 400">Допомога у Чернігові +</a>
                            </li>
                            <li><a href="#" style="font-size: 16px; font-weight: 400">Самодопомога +</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>
    </div>
</header>
<!-- header end -->


<!-- START PORTFOLIO DESIGN AREA -->
<section class="portfolio-area pt-120 pb-90">

    <div class="container-fluid row justify-content-center align-items-center pb-25">
        <div class="text-center">
            <h3 class="title">Морально-психологічної допомоги для військових в Україні</h3>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6 grid-item cat2 cat4">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image">
                            <img src="../static/images/resource_psychology.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="https://arpp.com.ua/molfa-hub/">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>Ресурсна психологія та психотерапія</h4>
                            <p>Асоціація ресурсної психології та психотерапії є організацією, що об’єднує психологів, психотерапевтів,
                                лікарів, реабілітологів та інших фахівців, заради поширення, вивчення та сприяння доступності знань з психології,
                                медицини, реабілітації, духовності та допомоги за цими напрямками.
                                Molfa Hub - це проєкт громадської організації «Асоціація ресурсної психології та психотерапії»,
                                метою якої є психологічна допомога та психологічна реабілітація військових та їхніх сімей,
                                організація медичної допомоги військовим та їхнім сім’ям та інше. Для консультацій треба писати в телеграм за номером на сайті.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 grid-item cat3 cat1">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image-red">
                            <img src="resoruces/static/assets/images/portfolio/port2.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="resoruces/static/assets/images/portfolio/port2.jpg">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>Awesome Doctor</h4>
                            <p>Medical</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 grid-item cat4 cat3">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image">
                            <img src="resources/static/assets/images/portfolio/port3.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="https://veteranhub.com.ua/">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>Veteran Hub</h4>
                            <p>Гаряча лінія. Підтримка від своїх під час війни: консультація психолога, пояснення юристів щодо статусів і черг, робота в тилу
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 grid-item cat1 cat4">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image-red">
                            <img src="resources/static/assets/images/portfolio/port4.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="https://odukraine.com/">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>Центр психологічного консультування та травмотерапії “Open Doors”</h4>
                            <p>Фахівці центру мають досвід роботи з учасниками збройних конфліктів і надають травма фокусну допомогу за американським стандартом військовослужбовцям, їхнім сім’ям та іншим людям, чиє життя зазнало впливу війни або інших травматичних подій. Щоб зареєструватися на консультацію, потрібно подати заявку або скористатися ботом.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 grid-item cat2 cat1">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image">
                            <img src="resources/static/assets/images/portfolio/port5.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="https://veteranfund.com.ua/projects/hot_line/">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>Український ветеранський фонд</h4>
                            <p>Гаряча лінія кризової підтримки – це першомомента допомога для ветеранів, їхніх родин та всіх українців у складних ситуаціях. Щотижнева група підтримки ветеранів, їхніх родин та всіх українців.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 grid-item cat4 cat1">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image-red">
                            <img src="resources/static/assets/images/portfolio/port6.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="https://www.culturalforces.org/">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>Культурний Десант</h4>
                            <p>об’єднання відомих митців, всі сили яких сьогодні спрямовані на Перемогу України. Напрямки діяльності: підняття морально- психологічного духу бійців на передових та наближених до них позицій; розповсюдження правильноï інформації в медіапросторі для підняття морального духу всіх українців.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 grid-item cat4 cat1">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image">
                            <img src="resources/static/assets/images/portfolio/port6.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="https://www.culturalforces.org/">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>#ВАРТОЖИТИ</h4>
                            <p>Психологічна підтримка цивільних українців в умовах війни, психологічна підтримка військових та їхніх близьких, підтримка дорослих онкопацієнтів та паліативних хворих, розвиток донорського руху в Україні.
                                </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 grid-item cat4 cat1">
                <div class="portfolio-item mb-30">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-image-red">
                            <img src="resources/static/assets/images/portfolio/port6.jpg" alt="" />
                            <div class="view-icon">
                                <a class="popup-image" href="https://www.culturalforces.org/">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>Після служби</h4>
                            <p>Налагодження зв'язків ветеранів з місцевими фахівцями у сфері психічного здоров'я, які пройшли навчання та мають досвід роботи з ветеранами.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- / END PORTFOLIO DESIGN AREA -->

<!-- footer start -->
<footer class="site-footer pt-50 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 pr-50">
                <div class="row">
                    <div class="col-6">
                        <div class="footer-widget">
                            <h4 class="widget-title">Про Нас</h4>
                            <p><span class="font-weight-bold">Ми експерти в даній області &amp; Ми гуру в цьому напрямку.</span>
                                Наша команда - це професійні, натреновані, з великим досвідом спеціалісти.
                                Ми знаємо толк в цьому ділі.</p>

                            <div class="row mt-2">
                                <div class="icon col">
                                    <i class="fas fa-handshake fa-3x"></i>
                                </div>
                                <div class="content col-10">
                                    <p>Отримай безкоштовну допомогу!</p>
                                    <a href="tel:987876875865">+00 (123) 345 67 89</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6 align-items-center">
                        <div class="footer-widget">
                            <h4 class="widget-title">Де нас знайти </h4>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text row">
                            <p class="col-6">Copyright By@<span>Psychology Aid Team</span> - 2023</p>
                            <p class="col-6">Powered By <span>Bogdan &amp; Arthur &amp; Kirill</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!--========= JS Here =========-->
<script src="../static/assets/js/jquery-2.2.4.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/counterup.min.js"></script>
<script src="../static/assets/js/datepicker.min.js"></script>
<script src="../static/assets/js/datepicker.en.js"></script>
<script src="../static/assets/js/jquery-ui.min.js"></script>
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<script src="../static/assets/js/lightcase.js"></script>
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/jquery.meanmenu.min.js"></script>
<script src="../static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="../static/assets/js/isotope.pkgd.min.js"></script>
<script src="../static/assets/js/wow.min.js"></script>
<script src="../static/assets/js/waypoint.js"></script>
<script src="../static/assets/js/main.js"></script>
</body>

</html>